body
{
    margin: 0;
    height: 100vh;
}

.grid-container
{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;
    grid-template-areas: 
        "main    main    header"
        "main    main    imagem"
        "nom     yum     imagem"
        "banana  banana  imagem";
    height: 100vh;
    margin: 2em;
}

main
{
    grid-area: main;
    background: #fffadf;
}

section.nom
{
    grid-area: nom;
    background: #c6e3a6;
}

section.yum
{
    grid-area: yum;
    background: #333333;
}

section.banana
{
    grid-area: banana;
    background: #202020;
}

header
{
    grid-area: header;
    background: #fffadf;
}

.imagem
{
    grid-area: imagem;
    background: url('../logo.png') no-repeat;
    background-size: cover;
}

.pic-container
{
    display: pic;
    grid-template-columns: 1.85fr 1.85fr;
    grid-template-rows: 5fr 5fr;
    grid-template-areas:
    "pic-container pic-container"
    "pic-container pic-container";
    height: 100vh;
    margin: 2em;
}

section.pic-container
{
    grid-area: pic-container;
    background: url('../irrigacao.jpg');
    background: cover;
}
