body
{
    margin: 0;
    height: 100vh;
}

.grid-container
{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;
    grid-template-areas: 
        "main    main    header"
        "main    main    logo"
        "lum     umi     logo"
        "a       a       logo";
    height: 100vh;
    margin: 2em;
}

main
{
    grid-area: main;
    background: #fffadf;
}

section.lum
{
    grid-area: lum;
    background: #c6e3a6;
}

section.umi
{
    grid-area: umi;
    background: #333333;
}

section.a 
{
    grid-area: a;
    background: black;
}

header
{
    grid-area: header;
    background: #fffadf;
}

.logo
{
    grid-area: logo;
    background: url('../logo.png') no-repeat;
    background-size: cover;
}

.campo
{
    height: 100vh;
    margin: 2em;
}